# Project 1 Nareg Balian nsb2165

# Step 1:
I used an NYC Dog Licensing Dataset. The description is as follows: "Active Dog Licenses.

All dog owners residing in NYC are required by law to license their dogs. The data is sourced from the DOHMH Dog Licensing System (https://a816-healthpsi.nyc.gov/DogLicense), where owners can apply for and renew dog licenses. Each record represents a unique dog license that was active during the year, but not necessarily a unique record per dog, since a license that is renewed during the year results in a separate record of an active license period. Each record stands as a unique license period for the dog over the course of the yearlong time frame."

In [1]:
import pandas as pd
df = pd.read_csv('NYC_Dog_Licensing_Dataset.csv')
df

/var/folders/wc/8d_myqrn3rv03frmdd2qvv600000gn/T/ipykernel_54188/2521731737.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYC_Dog_Licensing_Dataset.csv')

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016
...,...,...,...,...,...,...,...,...
616885,SKYE,F,2016,Great Pyrenees,11218.0,11/01/2023,12/02/2024,2023
616886,UNKNOWN,F,2023,Shih Tzu Crossbreed,10022.0,11/01/2023,11/01/2024,2023
616887,MUNYU,M,2009,"Poodle, Toy",11355.0,11/01/2023,11/24/2024,2023
616888,SAINT,M,2021,Unknown,11412.0,11/01/2023,11/01/2024,2023
616889,BABY,F,2021,Unknown,10473.0,11/01/2023,11/01/2024,2023

# Steps 2-4:
I picked the Animal Birth Year as my numeric column. I cut out the errors and cleaned the data set and then used pandas to compute the mean, median, and mode.

In [2]:
errors = ['ERROR: #VALUE!', 'ERROR: #DIV/0!', 'ERROR: #REF!'] #used Gemini for this line to account for all the errors
df['AnimalBirthYear'] = pd.to_numeric(df['AnimalBirthYear'], errors='coerce').astype('Int64') #used Gemini for "errors='coerce'.astype('Int64')"
mean = df['AnimalBirthYear'].mean()
median = df['AnimalBirthYear'].median()
mode = df['AnimalBirthYear'].mode() [0] #asked Gemini how to get 1 mode the "[0]"

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 2013.9584070939923
Median: 2015.0
Mode: 2020

# Step 5:
I computed the mean, median, and mode only using the python library. I used list comprehension extensively. I computed the mean easily. The median I approached how I would do it by hand. I sorted the data and then created a variable n that gave me the length of the data. I used Gemini to help me with the last step of finding the "middle number." Finally, for the mode, I looked at frequency values and used a for loop. Gemini also helped me with this step.

In [4]:
import csv

file_path = 'NYC_Dog_Licensing_Dataset.csv'
with open(file_path, 'r') as file:
    reader = csv.DictReader(file)
    data_list = [int(row['AnimalBirthYear']) for row in reader if row['AnimalBirthYear'].isdigit()] #mostly did this, but asked Gemini to check it. It added the "int"

mean = sum(data_list) / len(data_list)

data_list.sort()
n = len(data_list)
median = (data_list[n // 2] + data_list[(n - 1) // 2]) / 2 #used Gemini for this line "median = (data_list[n // 2] + data_list[(n - 1) // 2]) / 2"

frequency = {}
for num in data_list:
    frequency[num] = frequency.get(num, 0) + 1

max_frequency = max(frequency.values())
mode = [num for num, freq in frequency.items() if freq == max_frequency][0] #starting from frequency={} until mode = [num for num, freq in frequency.items() if freq == max_frequency][0] is Gemini
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 2013.9584070939923
Median: 2015.0
Mode: 2020

# Step 6:
I wanted to visualize the Animal Birth Year in a way that made sense. So, using a value counts, I (with some Gemini help) created a bar chart with a visual aspect to it using Python's standard library.

In [ ]:
frequency = df['AnimalBirthYear'].value_counts(normalize=True) #used Gemini for ".value_counts(normalize=True)"
percentages = frequency * 100
bar_char = '█'

print("Distribution of Animal Birth Years")

for year, percentage in percentages.items(): #used Gemini for the next few lines "for year... bar= bar_car*bar_length"
    bar_length = int(percentage)
    bar = bar_char * bar_length
    print(f"{year}: {bar} ({percentage:.2f}%)")

Distribution of Animal Birth Years
2020: ███████ (7.71%)
2016: ███████ (7.36%)
2015: ███████ (7.28%)
2017: ███████ (7.01%)
2019: ██████ (6.84%)
2018: ██████ (6.66%)
2014: ██████ (6.66%)
2013: ██████ (6.14%)
2012: █████ (5.71%)
2011: █████ (5.29%)
2010: █████ (5.12%)
2009: ████ (4.66%)
2021: ████ (4.17%)
2008: ████ (4.05%)
2007: ███ (3.43%)
2006: ██ (2.68%)
2022: ██ (2.39%)
2005: ██ (2.06%)
2004: █ (1.45%)
2003: █ (1.02%)
2023:  (0.86%)
2002:  (0.61%)
2001:  (0.39%)
2000:  (0.29%)
1999:  (0.09%)
1998:  (0.04%)
1997:  (0.02%)
1996:  (0.01%)
1995:  (0.00%)
1993:  (0.00%)
1991:  (0.00%)
1992:  (0.00%)
1994:  (0.00%)
1973:  (0.00%)
1920:  (0.00%)
1989:  (0.00%)
1934:  (0.00%)
1987:  (0.00%)
1921:  (0.00%)
1912:  (0.00%)
1922:  (0.00%)
1986:  (0.00%)
1990:  (0.00%)
1930:  (0.00%)
1923:  (0.00%)